#contact_form {
	margin: 0 auto 0 auto;
	width: $content-width;
	height: calc(100vh - 4rem);

	input {
		margin-top: 2rem;
		padding: 0.5rem;
		width: 100%;
		border: 1px solid $primary-light;
		outline: none;
		line-height: 1.5;
		font-size: 1.5rem;
		font-family: Roboto;
		font-weight: 400;
		background-color: rgba(255, 255, 255, 0.5);
	}
	textarea {
		margin-top: 2rem;
		padding: 0.5rem;
		resize: none;
		width: 100%;
		line-height: 1.5;
		font-size: 1.5rem;
		font-family: Roboto;
		font-weight: 400;
		border: 1px solid $primary-light;
		outline: none;
		background-color: rgba(255, 255, 255, 0.5);
	}

	button {
		margin-top: 2rem;
		padding: 0.5rem 2rem 0.5rem 2rem;
		font-size: 1rem;
		font-family: Roboto;
		color: $primary-dark;
		background-color: white;
		border: 1px solid $primary-dark;
	}
}
