.main-header {
	top: 0;
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(3px);
	box-shadow: -2px 0px 10px 4px rgba(0, 255, 30, 0.22);
	-moz-box-shadow: -2px 0px 10px 4px rgba(0, 255, 30, 0.22);
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	padding: 0 1rem 0 1rem;
	max-width: $content-width;
	margin: auto;

	@media (min-width: 800px) {
		height: 4rem;
	}
}

#main-nav__menu-button {
	display: block;
	background: transparent;
	border: none;
	outline: none;
	padding: 0;

	@media (min-width: 800px) {
		display: none;
	}

	svg {
		fill: $primary;

		&:hover {
			fill: $primary-hover;
		}
	}
}

.main-nav__items {
	display: none;
	align-items: center;
	font-weight: 400;

	@media (min-width: 800px) {
		display: flex;
	}
}
