#services {
	ul > li {
		padding: 2rem 0 0 0;
		display: flex;
		align-items: center;
		font-weight: 400;

		img {
			height: 2rem;
			width: 2rem;
			margin-right: 1rem;
		}

		span.strong {
			color: $primary-variant-accent;
			font-weight: 500;
			font-style: italic;
		}

		&:first-child {
			padding-top: 0;
		}
	}
}
