#technologies {
	margin: 0;
	width: 100vw;
	@include textured-background-gradient(
		rgba(72, 168, 81, 1),
		rgba(210, 255, 210, 0.5),
		'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+'
	);

	& > * {
		padding: $block-padding $block-margin-mobile $block-padding
			$block-margin-mobile;
	}
}

#technologies__items {
	margin: $block-margin 0 $block-margin 0;
	width: 100vw;
	color: white;
	font-size: 1rem;
	font-weight: 400;

	@media (min-width: 1110px) {
		margin: $block-margin auto $block-margin auto;
		padding: $block-padding 0 $block-padding 0;
		width: $contentWidth;
	}
	@media (min-width: 800px) {
		column-count: 2;
		column-gap: 10rem;
	}

	li {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0 1rem 0;

		span:last-child {
			font-size: 1.5rem;
			font-style: normal;
			color: #ffc535;
		}
	}
}
