#technologies__items {
	margin: $block-margin 0 $block-margin 0;
	padding: $block-margin-mobile;
	width: 100vw;
	color: white;
	font-size: 1rem;
	font-weight: 400;

	@media (min-width: 600px) {
		column-count: 2;
		column-gap: 10rem;
	}
	@media (min-width: $content-width) {
		margin: $block-margin auto $block-margin auto;
		padding: $block-padding 0 $block-padding 0;
		width: $content-width;
	}

	li {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0 1rem 0;

		span:last-child {
			font-size: 1.5rem;
			font-style: normal;
			color: #ffc535;
		}
	}
}
