#cover__back {
	position: fixed;
	top: 4rem;
	height: 50vh;
	width: 100vw;
	background: radial-gradient(
			circle,
			rgba(255, 255, 255, 0) 50%,
			rgba(223, 255, 225, 0.6) 100%
		),
		url('../images/background.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -1;
}

#cover__front {
	background: none;
	margin-top: 4rem;
	display: flex;
	height: 50vh;

	overflow: hidden;

	@media (min-width: 800px) {
		margin-top: 4rem;
	}
}

.me {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 800px;
	height: 50vh;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
	font-style: italic;
	transform: scale(1, 1);
	opacity: 1;
	transition: transform 0.5s ease, opacity 0.5s ease;

	&.me-transition-out {
		transform: scale(0.8, 0.8);
		opacity: 0;
	}

	@media (min-width: 800px) {
		flex-direction: row;
	}

	#me__name {
		display: inline-block;
		font-size: 2.5rem;
		animation: me__name__animation 0.75s ease-in;

		@media (min-width: 800px) {
			font-size: 3.5rem;
		}
	}

	#me__description {
		display: inline-block;
		font-size: 1.75rem;
		animation: me__description__animation 0.75s ease-in;

		@media (min-width: 800px) {
			font-size: 2.25rem;
		}
	}

	#profile-picture {
		height: 150px;
		width: 150px;
		margin: 10px;
		border-radius: 50%;
		background: url('../images/profile.jpg') center/cover no-repeat border-box;
		animation: me__profile-picture 0.75s ease-in;

		@media (min-width: 800px) {
			height: 200px;
			width: 200px;
		}
	}
}

@keyframes me__profile-picture {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes me__name__animation {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes me__description__animation {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
