$contentWidth: 1110px;
$block-margin: 3rem;
$block-padding: 2rem;
$primary: #48a851;
$primary-variant-accent: #007a0c;
$primary-variant-light: #adeab3;
$primary-variant-lighter: #f4fff5;
$primary-hover: #1bd321;

@mixin block-margins {
	margin: $block-margin 0 $block-margin 0;
}

@mixin primary-gradient {
	background: #f7fff8;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 60%,
		rgba(235, 255, 237, 1) 100%
	);
}

@mixin box-shadow-default {
	box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
}

@import './header';
@import './navigation';
@import './top-cover';
@import './services';

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: Roboto;
	color: rgba(0, 0, 0, 0.8);
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 300;

	@media (min-width: 800px) {
		font-size: 1.25rem;
	}
}

main {
	overflow: hidden;
	background: rgb(243, 255, 236);
	background: linear-gradient(
			90deg,
			rgba(210, 255, 210, 0.5) 0%,
			rgba(255, 255, 255, 1) 25%,
			rgba(255, 255, 255, 1) 75%,
			rgba(210, 255, 210, 0.5) 100%
		),
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+'),
		rgb(255, 255, 255);
}

section {
	position: relative;
	max-width: $contentWidth;
	margin: 0 1rem 0 1rem;

	@media (min-width: 1110px) {
		margin: 0 auto 0 auto;
	}

	& > span.anchor {
		position: absolute;
		top: -4rem;

		@media (min-width: 800px) {
			top: -6rem;
		}
	}
}

footer {
	padding: $block-padding;
	border-top: 1px solid $primary-variant-light;
	background-color: $primary-variant-lighter;
}

#technologies {
	width: 100vw;
	max-width: 100vw;
	background: $primary;
}

ul {
	@include block-margins;
	padding: 0;
	list-style: none;
}

h1 {
	margin: 5rem 0 $block-margin 0;
	font-weight: 200;
	font-size: 2rem;

	@media (min-width: 800px) {
		font-size: 2.5rem;
	}
}

h2 {
	margin-top: 4rem;
	font-size: 2rem;
	font-weight: 200;
}

p {
	@include block-margins;
	line-height: 2;
	font-weight: 300;
}

dl {
	@include block-margins;
	@include box-shadow-default;
	padding: $block-padding;
	border-radius: 5px;
	color: white;
	background-color: $primary;

	dt {
		font-size: 1.2rem;
		font-weight: 400;
		margin-bottom: 1rem;
	}

	dd {
		margin: 0;
		line-height: 2;
	}
}

.project-items li {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 1rem 0;
	font-size: 1.25rem;

	& > * {
		font-size: 1.25rem;
	}
}

.card {
	@include block-margins;
	@include box-shadow-default;
	border-radius: 5px;

	.card-header {
		padding: 1rem;
		background-color: $primary;
		border-radius: 5px 5px 0 0;
		font-size: 1.5rem;
		font-weight: 500;
		color: white;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid $primary-variant-light;
		border-top-width: 0;
		border-radius: 0 0 5px 5px;
		background-color: #f2fff3;
		@include primary-gradient;

		@media (min-width: 800px) {
			flex-direction: row;
		}

		.card-body__description {
			margin: $block-padding;
			line-height: 2;
		}

		.card-body__image {
			margin: $block-padding;
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			transition: filter 0.25s linear;
			filter: blur(3px);

			@media (min-width: 800px) {
				height: 350px;
			}

			&.animate {
				filter: blur(0px);
			}
		}
	}
}

#technologies__items {
	margin: $block-margin auto $block-margin auto;
	padding: $block-padding 0 $block-padding 0;
	width: $contentWidth;
	color: white;
	font-size: 1rem;
	font-weight: 400;

	@media (min-width: 800px) {
		column-count: 2;
		column-gap: 10rem;
	}

	li {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0 1rem 0;

		span:last-child {
			font-size: 1.5rem;
			font-style: normal;
			color: #ffc535;
		}
	}
}
