/* Colors */
/* old primary: #48a851 */
/* mixins */
/* includes */
.main-header {
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-shadow: -2px 0px 10px 4px rgba(0, 255, 30, 0.22);
          box-shadow: -2px 0px 10px 4px rgba(0, 255, 30, 0.22);
  -moz-box-shadow: -2px 0px 10px 4px rgba(0, 255, 30, 0.22);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 0 1rem 0 1rem;
  max-width: 1110px;
  margin: auto;
}

@media (min-width: 800px) {
  .main-nav {
    height: 4rem;
  }
}

#main-nav__menu-button {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

@media (min-width: 800px) {
  #main-nav__menu-button {
    display: none;
  }
}

#main-nav__menu-button svg {
  fill: #64ad68;
}

#main-nav__menu-button svg:hover {
  fill: #1bd321;
}

.main-nav__items {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

@media (min-width: 800px) {
  .main-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 4rem;
  bottom: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.mobile-menu.menu-show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu a {
  display: inline-block;
}

.nav-link {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #007a0c;
  border-bottom: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.15);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 60%, rgba(255, 255, 255, 0) 100%);
}

.nav-link:hover, .nav-link:active {
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #1bd321;
  border-bottom-color: #1bd321;
  text-decoration: none;
}

#cover__back {
  position: fixed;
  top: 4rem;
  height: 50vh;
  width: 100vw;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(223, 255, 225, 0.6) 100%), url("../images/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

#cover__front {
  background: none;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  overflow: hidden;
}

@media (min-width: 800px) {
  #cover__front {
    margin-top: 4rem;
  }
}

.me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 800px;
  height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}

.me.me-transition-out {
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  opacity: 0;
}

@media (min-width: 800px) {
  .me {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.me #me__name {
  display: inline-block;
  font-size: 2.5rem;
  -webkit-animation: me__name__animation 0.75s ease-in;
          animation: me__name__animation 0.75s ease-in;
}

@media (min-width: 800px) {
  .me #me__name {
    font-size: 3.5rem;
  }
}

.me #me__description {
  display: inline-block;
  font-size: 1.75rem;
  -webkit-animation: me__description__animation 0.75s ease-in;
          animation: me__description__animation 0.75s ease-in;
}

@media (min-width: 800px) {
  .me #me__description {
    font-size: 2.25rem;
  }
}

.me #profile-picture {
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 50%;
  background: url("../images/profile.jpg") center/cover no-repeat border-box;
  -webkit-animation: me__profile-picture 0.75s ease-in;
          animation: me__profile-picture 0.75s ease-in;
}

@media (min-width: 800px) {
  .me #profile-picture {
    height: 200px;
    width: 200px;
  }
}

@-webkit-keyframes me__profile-picture {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes me__profile-picture {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes me__name__animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes me__name__animation {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes me__description__animation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes me__description__animation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#services ul > li {
  padding: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

#services ul > li img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

#services ul > li span.strong {
  color: #64ad68;
  font-weight: 500;
  font-style: italic;
}

#services ul > li:first-child {
  padding-top: 0;
}

#technologies__items {
  margin: 3rem 0 3rem 0;
  padding: 1.5rem;
  width: 100vw;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 600px) {
  #technologies__items {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
  }
}

@media (min-width: 1110px) {
  #technologies__items {
    margin: 3rem auto 3rem auto;
    padding: 2rem 0 2rem 0;
    width: 1110px;
  }
}

#technologies__items li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 1rem 0;
}

#technologies__items li span:last-child {
  font-size: 1.5rem;
  font-style: normal;
  color: #ffc535;
}

.card {
  margin: 3rem 0 3rem 0;
  -webkit-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card .card-header {
  padding: 1rem;
  background-color: #64ad68;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border: 1px solid #adeab3;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  background-color: #f2fff3;
  background: #f7fff8;
  background: radial-gradient(circle, white 60%, rgba(210, 255, 210, 0.5) 100%);
}

.card .card-body > .card-body__image {
  margin: 2rem 0 0 0;
}

@media (min-width: 1110px) {
  .card .card-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card .card-body > .card-body__image {
    margin: 0 0 0 2rem;
  }
}

@media (min-width: 1110px) {
  .card .card-body.inverted {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .card .card-body.inverted > .card-body__image {
    margin: 0 2rem 0 0;
  }
}

.card .card-body .card-body__description {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  line-height: 2;
}

.card .card-body .card-body__image {
  position: relative;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-filter 0.25s linear;
  transition: -webkit-filter 0.25s linear;
  transition: filter 0.25s linear;
  transition: filter 0.25s linear, -webkit-filter 0.25s linear;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  width: 100%;
  max-height: 400px;
}

.card .card-body .card-body__image.portrait {
  background-size: auto 100%;
  background-position: 50%;
}

@media (min-width: 1110px) {
  .card .card-body .card-body__image.portrait {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.card .card-body .card-body__image.landscape {
  background-size: contain;
  background-position: 50%;
}

@media (min-width: 1110px) {
  .card .card-body .card-body__image.landscape {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

.card .card-body .card-body__image.animate {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* global modifiers */
.--expanded {
  margin: 0;
  width: 100%;
}

.--primary-gradient {
  background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(10%, #64ad68), color-stop(90%, #64ad68), to(rgba(210, 255, 210, 0.5))), #64ad68;
  background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, #64ad68 10%, #64ad68 90%, rgba(210, 255, 210, 0.5) 100%), #64ad68;
}

@media (min-width: 1400px) {
  .--primary-gradient {
    background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(10%, #64ad68), color-stop(90%, #64ad68), to(rgba(210, 255, 210, 0.5))), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), #64ad68;
    background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, #64ad68 10%, #64ad68 90%, rgba(210, 255, 210, 0.5) 100%), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), #64ad68;
  }
}

@media (min-width: 1550px) {
  .--primary-gradient {
    background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(20%, #64ad68), color-stop(80%, #64ad68), to(rgba(210, 255, 210, 0.5))), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), #64ad68;
    background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, #64ad68 20%, #64ad68 80%, rgba(210, 255, 210, 0.5) 100%), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), #64ad68;
  }
}

@media (min-width: 1800px) {
  .--primary-gradient {
    background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(25%, #64ad68), color-stop(75%, #64ad68), to(rgba(210, 255, 210, 0.5))), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), #64ad68;
    background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, #64ad68 25%, #64ad68 75%, rgba(210, 255, 210, 0.5) 100%), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), #64ad68;
  }
}

html {
  font-size: 100%;
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.8);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

@media (min-width: 800px) {
  body {
    font-size: 1.25rem;
  }
}

#main_container {
  overflow: hidden;
  background: #f3ffec;
  background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(10%, white), color-stop(90%, white), to(rgba(210, 255, 210, 0.5))), white;
  background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, white 10%, white 90%, rgba(210, 255, 210, 0.5) 100%), white;
}

@media (min-width: 1400px) {
  #main_container {
    background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(10%, white), color-stop(90%, white), to(rgba(210, 255, 210, 0.5))), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), white;
    background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, white 10%, white 90%, rgba(210, 255, 210, 0.5) 100%), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), white;
  }
}

@media (min-width: 1550px) {
  #main_container {
    background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(20%, white), color-stop(80%, white), to(rgba(210, 255, 210, 0.5))), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), white;
    background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, white 20%, white 80%, rgba(210, 255, 210, 0.5) 100%), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), white;
  }
}

@media (min-width: 1800px) {
  #main_container {
    background: -webkit-gradient(linear, left top, right top, from(rgba(210, 255, 210, 0.5)), color-stop(25%, white), color-stop(75%, white), to(rgba(210, 255, 210, 0.5))), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), white;
    background: linear-gradient(90deg, rgba(210, 255, 210, 0.5) 0%, white 25%, white 75%, rgba(210, 255, 210, 0.5) 100%), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+"), white;
  }
}

section {
  position: relative;
  margin: 0 1.5rem 0 1.5rem;
}

@media (min-width: 1110px) {
  section {
    margin: 0 auto 0 auto;
    width: 1110px;
  }
}

section > span.anchor {
  position: absolute;
  top: -4rem;
}

@media (min-width: 800px) {
  section > span.anchor {
    top: -6rem;
  }
}

footer {
  padding: 4rem 0 4rem 0;
  border-top: 1px solid #adeab3;
  background: #f7fff8;
  background: radial-gradient(circle, white 60%, rgba(210, 255, 210, 0.5) 100%);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

footer #footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

@media (min-width: 800px) {
  footer #footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

footer #networks-links > a {
  margin-left: 10px;
}

footer #networks-links > a > svg:hover {
  fill: #4e8fe5;
}

a {
  color: #007a0c;
  text-decoration: none;
  font-weight: 400;
}

a:hover, a:active {
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #1bd321;
  text-decoration: underline;
}

ul {
  margin: 3rem 0 3rem 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 5rem 0 3rem 0;
  font-weight: 200;
  font-size: 2rem;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 200;
}

@media (min-width: 800px) {
  h2 {
    font-size: 2rem;
  }
}

p {
  margin: 3rem 0 3rem 0;
  line-height: 2;
  font-weight: 300;
}

dl {
  margin: 3rem 0 3rem 0;
  -webkit-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 5px;
  color: white;
  background-color: #64ad68;
}

dl dt {
  font-weight: 400;
  margin-bottom: 1rem;
}

dl dd {
  margin: 0;
  line-height: 2;
}

.project-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

@media (min-width: 1110px) {
  .project-items li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=index.css.map */