$contentWidth: 1110px;
$green: #009e12;
$green2: rgba(0, 158, 18, 0.7);
$green3: #adeab3;
$lightgreen: #1bd321;

@import './header';
@import './navigation';
@import './top-cover';
@import './services';

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: Roboto;
	color: rgba(0, 0, 0, 0.8);
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-size: 1.25rem;
	font-weight: 300;
}

main {
	padding: 1rem;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 50%,
		rgba(240, 255, 240, 1) 100%
	);
}

section {
	position: relative;
	max-width: $contentWidth;
	margin: 0 auto 0 auto;
}

section > span.anchor {
	position: absolute;
	top: -4rem;
}
@media (min-width: 800px) {
	section > span.anchor {
		top: -6rem;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	margin: 5rem 0 3rem 0;
	font-weight: 200;
	font-size: 2.5rem;
}

h2 {
	margin-top: 5rem;
	font-size: 1.7rem;
	font-weight: 300;
}

p {
	font-size: 1.25rem;
	line-height: 2;
	font-weight: 300;
}

dl {
	margin: 3rem 0 3rem 0;
	padding: 2rem;
	border-radius: 5px;
	color: white;
	background-color: $green2;

	dt {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 1rem;
	}

	dd {
		margin: 0;
		line-height: 2;
	}
}

.project-items li {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 1rem 0;
	font-size: 1.25rem;

	& > * {
		font-size: 1.25rem;
	}
}

#technologies__items {
	color: rgba(0, 0, 0, 0.75);
	font-size: 1.25rem;

	@media (min-width: 800px) {
		column-count: 2;
		column-gap: 10rem;
	}

	li {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem 0 1rem 0;

		span:last-child {
			font-style: normal;
			color: $green;
		}
	}
}

.card {
	margin: 3rem 0 3rem 0;

	.card-header {
		padding: 1rem;
		background-color: $green2;
		border-radius: 5px 5px 0 0;
		font-size: 1.5rem;
		font-weight: 500;
		color: white;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid $green3;
		border-top-width: 0;
		border-radius: 0 0 5px 5px;
		background-color: #f2fff3;
		background: rgb(255, 255, 255);
		background: radial-gradient(
			circle,
			rgba(255, 255, 255, 1) 60%,
			rgba(235, 255, 237, 1) 100%
		);

		@media (min-width: 800px) {
			flex-direction: row;
		}

		.card-body__description {
			margin: 30px;
			line-height: 2;
		}

		.card-body__image {
			margin: 30px;
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			transition: filter 0.25s linear;
			filter: blur(7px);

			@media (min-width: 800px) {
				height: 350px;
			}

			&.animate {
				filter: blur(0px);
			}
		}
	}
}
