@import './constants';
@import './mixins';
@import './header';
@import './navigation';
@import './top-cover';
@import './services';
@import './background-gradient';
@import './technologies';
@import './card';
@import './contact_form';

* {
	box-sizing: border-box;
}

/* global modifiers */

.--expanded {
	margin: 0;
	width: 100%;
}

.--primary-gradient {
	background-color: $primary;

	@media (min-width: 1400px) {
		@include textured-background-gradient(
			$primary,
			$primary-lighter-alpha,
			'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+'
		);
	}
}

html {
	font-size: 100%;
	font-family: Roboto;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;

	margin: 0;
	font-size: 1rem;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.8);

	@media (min-width: 800px) {
		font-size: 1.25rem;
	}
}

#main_container {
	overflow: hidden;
	background: white;

	@media (min-width: 1400px) {
		@include textured-background-gradient(
			rgba(255, 255, 255, 1),
			$primary-lighter-alpha,
			'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuX3JrZjEiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSIxMC41IiBoZWlnaHQ9IjEwLjUiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxsaW5lIHgxPSIwIiB5PSIwIiB4Mj0iMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzQ4QTg1MSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz4gPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuX3JrZjEpIiBvcGFjaXR5PSIxIi8+PC9zdmc+'
		);
	}
}

section {
	position: relative;
	margin: 4rem $block-margin-sm 4rem $block-margin-sm;

	@media (min-width: 400px) {
		margin: 0 $block-margin-md 0 $block-margin-md;
	}

	@media (min-width: $content-width) {
		margin: 4rem auto 4rem auto;
		width: $content-width;
	}

	.anchor {
		position: absolute;
		top: -4rem;

		@media (min-width: 800px) {
			top: -4rem;
		}
	}
}

footer {
	padding: 2 * $block-padding 0 2 * $block-padding 0;
	// border-top: 1px solid $primary-light;
	@include primary-gradient-lighter;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);

	#footer__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 150px;

		@media (min-width: 800px) {
			flex-direction: row;
			height: auto;
		}
	}

	#networks-links {
		& > a {
			margin-left: 10px;

			& > svg:hover {
				fill: #4e8fe5;
			}
		}
	}
}

a {
	color: $primary-dark;
	text-decoration: none;
	font-weight: 400;

	&:hover,
	&:active {
		transition: color 0.25s ease-out;
		color: $primary-hover;
		text-decoration: underline;
	}
}

ul {
	@include block-margins;
	padding: 0;
	list-style: none;
}

h1 {
	margin: 4rem 0 $block-margin 0;
	padding-top: 1rem;
	font-weight: 200;
	font-size: 2rem;

	@media (min-width: 800px) {
		font-size: 2.5rem;
	}
}

h2 {
	margin-top: 4rem;
	font-size: 1.5rem;
	font-weight: 200;

	@media (min-width: 800px) {
		font-size: 2rem;
	}
}

p {
	@include block-margins;
	line-height: 2;
	font-weight: 300;
}

dl {
	@include block-margins;
	@include box-shadow-default;
	padding: $block-padding-sm;
	border-radius: 5px;
	color: white;
	background-color: $primary;

	@media (min-width: 400px) {
		padding: $block-padding;
	}

	dt {
		font-weight: 400;
		margin-bottom: 1rem;
	}

	dd {
		margin: 0;
		line-height: 2;
	}
}

.project-items li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 0 1rem 0;

	@media (min-width: $content-width) {
		flex-direction: row;
	}
}
